{% extends "base.html" %}
{% block content %}


{% if request.user.is_authenticated %}

{% for message in messages %}
<div>
  {{ message.author.first_name}}: {{ message.text }}
</div>
{% endfor %}

<form action="/chat/" method="POST">
  {% csrf_token %}
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" name="textmessage" type="text" id="sample3">
    <label class="mdl-textfield__label" for="sample3">Text...</label>
  </div>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    Send
  </button>
</form>
{% else %}
<h1>Not logged in</h1>
<p>You have to logg in</p><br>
Please click <a href="/login/">here</a>.
{% endif %}
{% endblock %}