{% extends "base.html" %}
{% block content %}
<!-- <script src="./../../../static/js/script.js"></script> -->
<script>
  const csrfToken = '{{ csrf_token }}';
  const userName = '{{ request.user.first_name}}';
  let background = '';
</script>

<h1>Welcome to easyChat</h1>
<h4>Your secure Communication App</h4>

{% if request.user.is_authenticated %}

<div id="messageContainer">
  {% for message in messages %}
  <div class="mdl-card">
    <div class="mdl-card__title">
      <span class="color-gray"> [{{ message.created_at }}] : {{ message.author.first_name}}</span>
    </div>
    <div class="mdl-card__media">
      {{ message.text }}
    </div>
  </div>
  {% endfor %}
</div>

<form onsubmit="sendMessage(); return false" method="POST">
  {% csrf_token %}
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" name="textmessage" type="text" id="messageField">
    <label class="mdl-textfield__label" for="messageField">Text...</label>
  </div>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    Send
  </button>
</form>
{% else %}
<h1>You are not logged in</h1>
<p>You have to logg in first</p><br>
Please click <a href="/login/">here</a>.
{% endif %}
{% endblock %}