.page-content {
    display: flex;
    justify-content: center;
    padding-top: 120px;
    flex-direction: column;
    align-items: center;
}

.color-gray{
    color: gray;
  }

.padingTop40{
    padding-top: 40px;
}



