
.page-content {
    display: flex;
    justify-content: center;
    padding-top: 36px;
    flex-direction: column;
    align-items: center;
}

.page-content h1 {
  text-align: center;
}

#messageContainer{
  width: 90%;
}

.authorMessage{
  margin-left: auto;
  margin-right: 0;
}

.color-gray{
    color: gray;
  }

.padingTop40{
    padding-top: 40px;
}

.mdl-card {
    min-height: 60px;
    border-radius: 12px;
    border-style: ridge;
    margin-bottom: 12px;
    width: 260px;
}
.mdl-card__media {
  background-color: lightgray;
  padding: 12px;
}
.mdl-textfield__label {
  right: unset;
  left: unset;
  color: rgb(255,255,255);
}

.mdl-layout{
  overflow-y: hidden;
}

.backGroundButton{
    height: 120px;
    width: 120px;
    cursor: pointer;
}

.footer{
  height: 64px;
  background-color: rgb(63,81,181);
  z-index: 3;
  display: flex;
}

.textfield{
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}

.tftext{
  background-color: white;
  width: 200px;
}
.tflabel{
  width: 200px;
}

.tfbutton{
  cursor: pointer;
  background-color: transparent;
  border: none;
}