{% extends "base.html" %}
{% block content %}

<h1>Register Page</h1>

{% if wrongPassword %}
<p>misstyped password, please try again</p>
{% endif %}

<form method="POST" action="/register/">
    {% csrf_token %}
    <div>
        <label class="mdl-textfield__label" for="sampl1">name...</label>
        <input class="mdl-textfield__input" name="username" type="text" id="sampl1">
    </div>
    <div>
        <input class="mdl-textfield__input" name="password" type="text" id="sampl1">
        <label class="mdl-textfield__label" for="sampl1">password...</label>
    </div>
    <div>
        <input class="mdl-textfield__input" name="passwordrepeat" type="text" id="sampl1">
        <label class="mdl-textfield__label" for="sampl1">repeat password...</label>
    </div>
    <div>
        <button>Login</button>
    </div>
</form>
{% endblock %}